<!DOCTYPE html>
<html data-ng-app>
<head>
	<title>AngularJS - Using Directives</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body data-ng-init="name='Hello Angular JS'">
	<span>Hide:</span> <input type="checkbox" data-ng-model="isHidden"><br>
	<div data-ng-hide="isHidden">
		<span>Name:</span> <input type="text" ng-model="name" />
		<br> 
		<!-- regular way to bind -->
		<span>Regular Bind with culry braces => </span>
		<span ng-cloak>{{name}}</span> 
		<br> 
		<!-- another way to bind -->
		<span>Binding with ng-bind => </span>
		<span data-ng-bind="name"></span>
	</div>
	<button data-ng-click="name='Ahmed'">Change Name</button>
	<!-- Script -->
	<script src="../js/angular.js" type="text/javascript"></script>
</body>
</html>